body {
    background: url(../Imagens/the_circuit_grid.jpg) no-repeat;
    margin: 0 auto;
    width: 90%;
    height: 700px;
}

.All {
    background: rgba(0, 0, 0, 0.8);
    margin: 0px auto;
    width: 95%;
}

nav {
    color: #fff;
    li {
        display: inline-block;
        padding: 10px;
    }
}

a {
    background: rgba(0, 255, 0, 0.16);
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 4px 3px 5px #888888;
    font-weight: bold;
    border: 1px solid white;
    font-size: 20px;
    &:hover {
        color: #1b1a1a;
        background-color: #bbb;
        border-radius: 6px;
        padding: 5px;
        box-shadow: 4px 3px 5px #888888;
        font-weight: bold;
    }
}

.containerWellcome {
    width: 100%;
    background: #fff;
    height: 100%;
    margin-top: 11%;
    text-align: center;
    &:hover {
        background: rgba(234, 234, 251, 1);
        background: -moz-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234, 234, 251, 1)), color-stop(43%, rgba(209, 206, 242, 1)), color-stop(59%, rgba(195, 194, 239, 1)), color-stop(100%, rgba(185, 191, 238, 1)));
        background: -webkit-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -o-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -ms-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: linear-gradient(to bottom, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
    }
}

// Página O que eu aprendi hoje
.containerInfo {
    color: #fff;
    background: #89b6b9;
    border: 2px solid;
     :nth-child(1) {
        background: #4897b7;
        padding: 2px;
        pre {
            background: white;
        }
    }
}