body {
    background: url(../../Imagens/the_circuit_grid.jpg) no-repeat;
    margin: 0 auto;
    width: 90%;
    height: 700px;
    color: #fff;
}

.All {
    background: rgba(0, 0, 0, 0.8);
    margin: 0px auto;
    width: 95%;
}

nav {
    color: #fff;
    ul {
        margin-top: 0px;
    }
    li {
        display: inline-block;
        padding: 10px;
    }
    h1 {
        padding: 10px;
        border-bottom: 5px solid #24e6b7;
        border-top: 2px solid #24e6b7;
        width: 241px;
        text-align: center;
        margin: 30px auto;
    }
}

a {
    background: rgba(0, 255, 0, 0.16);
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 4px 3px 5px #888888;
    font-weight: bold;
    border: 1px solid white;
    font-size: 20px;
    &:hover {
        color: #1b1a1a;
        background-color: #bbb;
        border-radius: 6px;
        padding: 5px;
        box-shadow: 4px 3px 5px #888888;
        font-weight: bold;
    }
}

.containerWellcome {
    width: 100%;
    background: #355a69;
    height: 100%;
    margin-top: 12%;
    text-align: center;
    color: #fff;
    padding: 1px;
    font-size: 20px;
    border-bottom: 5px solid #24e6b7;
    border-top: 2px solid #24e6b7;
    &:hover {
        color: #000;
        background: rgba(234, 234, 251, 1);
        background: -moz-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234, 234, 251, 1)), color-stop(43%, rgba(209, 206, 242, 1)), color-stop(59%, rgba(195, 194, 239, 1)), color-stop(100%, rgba(185, 191, 238, 1)));
        background: -webkit-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -o-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: -ms-linear-gradient(top, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
        background: linear-gradient(to bottom, rgba(234, 234, 251, 1) 0%, rgba(209, 206, 242, 1) 43%, rgba(195, 194, 239, 1) 59%, rgba(185, 191, 238, 1) 100%);
    }
}

// Página O que eu aprendi hoje
.containerInfo {
    color: #fff;
    background: #1a2c33;
    border: 2px solid;
    margin: 15px;
    border-radius: 15px;
     :nth-child(1) {
        border-bottom: 5px solid #24e6b7;
        border-top: 2px solid #24e6b7;
        padding: 6px;
        text-indent: 28px;
    }
    img {
        width: 10vw;
        height: 17vh;
        float: left;
        margin: 0px 10px 10px 10px;
        border-radius: 5px;
        border: 2px solid #24e6b7;
    }
    .textown {
        text-indent: 20px;
    }
    .infoSub {
        border-bottom: 1px solid #24e6b7;
        padding-left: 10px;
    }
}

.content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2%;
    text-align: justify;
}

div {
    h2 {
        text-align: center;
        background: #1a2c33;
        padding: 8px;
    }
}

.nivelOP {}